
body{
    background-color: rgb(227, 235, 241);
}
h1{
    color: #166fe5;
    font-size: 70px;
    font-weight: 1000;
}
p{
    font-size: 30px;
}
div{
    margin-top: 0%;
    margin-left: 0%;
}
.a{
width: 80%;
padding: 15px;
font-size: 1rem;
margin-top: 20px;
border-radius: 10px;
border-color: #bed3f0;
}
.b{
    font-size: 25px;
    color: #fff;
    background-color: #166fe5;
    border-color: #fff;
    width: 26.25rem;
    margin-top: 20px;
    border-radius: 10px;
    width: 90%;
    padding: 10px;

}
.d{
    text-decoration: none;
    color: #166fe5;
    margin-top: 25px;
    padding-top: 20px;
    border-radius: 10px;
}.d:hover{
    text-decoration: underline;
}
.c{
    font-size: 15px;
    color: #fff;
    background-color: #14c32b;
    border-color: #fff;
    width: 15rem;
    height: 3rem;
    margin-top: 25px;
    border-radius: 10px;
    
}
.main{
    text-align: center;
    background-color: #fff;
    width: 40%;
    height: 22rem;
    margin-left: 5rem;
    border-radius: 10px;
}
.full{
    display: flex;
    margin-top: 9rem;
    margin-left: 7rem;
}